
*{
   /*define as regras gerais*/
   color: #FFFF;
   box-sizing: border-box;
   margin:0;
   padding: 0;
}

nav#equipe{
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    padding: 20px;
    font-family: 'Roboto Slab', sans-serif;
}

nav#equipe p{
    text-align: center;
    color: white;
    font-size: 2;
    text-decoration: none;
    background-color: #101010;
}


nav#coloridos{
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 75px;
}

nav#coloridos>article{
    color: #FFFF;
    justify-content: space-between;
    text-align: center;
    padding: 25px;
    width: 400px;
    height: 325px;
    margin: 25px 50px;
}

nav#coloridos>article>p{
    font-size: 0,5px;
    text-align: center;
    padding: 25px;
}

nav#coloridos>article>button{
    justify-content: space-between;
    align-items: center;
    border-color: #FFFF;
    color: #FFFF;
    width: 200px;
    height: 50px;
}


nav#coloridos>article>button>img{
    width: 25px;
}

article#a{
    background-color: #C14000;
}
article#b{
    background-color: #009987;
}
article#c{
    background-color: #FFAA00;
}
article#a>button{
    background-color: #C14000;
}
article#b>button{
    background-color: #009987;
}
article#c>button{
    background-color: #FFAA00;
}

img.perfil{
    width: 70px;
    border-radius: 35px;
}

nav#equipe{
    background-color: #101010;
    text-align: center;
    justify-content: center;
    padding: 50px;

}

section#portifolio{
    padding: 40px;
    background-color: #101010;
}

nav.portifolio{
    justify-content: space-between;
    display: flex;
    height: 200px;
    margin: 2px 75px;
}

section#saiba{
    background-color: #101010;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
}
section#saiba button{
    background-color: #101010;
    border-color: #FFFF;
    padding: 5px;
}

